@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');

*{
    box-sizing: border-box;/*Sem isso só a caixa do texto já terá 400 px*/
}

body{
    background-color: #2b2b2b;
    margin: 0;
}

/* ----------------------------------------- */
.cabecalho{
  margin-left: 10%;
  margin-right: 10%;
  background: #dedede;
  /*box-shadow: 2px 2px 20px #d1d1d1;*/
  border-radius: 15px;
}


h2.subtitle,
.article-title,
.article-title-detail,
.article-author{
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    max-width: 100%;
    margin: 1rem auto;
}

.article-title{
    font-family: 'Staatliches', cursive;
}

.article-title-detail,
.article-author,
h2.subtitle{
  font-family: 'Alegreya', serif;
}

.article-title {
    font-size: 4.0rem;
}

.article-title-detail{
    font-size: 2.0rem;
}

.article-author {
    font-size: 1.2rem;
    text-transform: uppercase;
}

h2.subtitle {
    font-size: 1.3rem;
    font-weight: var(--font-weight-lead);
}

/* -------------------------------------------------------------------------------------------------------------- */

.article-body, .article-concepts{
  max-width: var(--main-column-max);
  margin-left: 10%;
  margin-right: 10%;
  /*margin: 10rem auto;*/
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  z-index: 1;
}


.article-concepts{
  background-color: #dedede;
}


.cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /*height: 350px;*/

    /*max-width: 420px;
    margin: 0 auto;
    border: 1px solid #ccc;*/
}

.title{
    font-family: 'Staatliches', cursive;
    font-size: 3rem;
    /*max-width: 620px;
    margin: 4rem auto;*/
    text-align: center;
    /*background-color: #0B5394;*/
    color: white;
    padding: 10px;
    text-align: left;
    width: 30%;
}

.text{
    font-family: 'Alegreya', serif;
    font-size: 1.2rem;
    color: white;
    /*max-width: 620px;
    margin: 4rem auto;*/
    text-align: left;
    /*background-color: #0B5394;*/
    padding: 10px 10px 10px 10px; /*margin around the content*/
    width: 50%;
}


.img-full {
    max-width: 100%;
    max-height: 100%;
}

.img-smaller {
  max-width: 70%;
  max-height: 70%;
}

.cont > div{
    /*border: 1px solid #0B5394;*/
    /*height: 200px;*/
    height: 100%;
    overflow: hidden; /*to avoid scroll bars*/
}

.imgbottom{
    width: 40%;
}

/* --------------- para o scrollytelling --------------- */
.cont_scroll{
  position: relative;
}


.passos{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky; /* como o fixed dentro de um container*/
    top: 0; /*Colado no topo do container*/
    z-index: 2;
  }
  
  .passos > div{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    display: none;
    align-items: center;
  }
  
  .passos > div.passo-ativo{
    display: flex;
  }
  
  .passos > div > *{
    display: block;
  }
  
  .passos > div > img{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
  }
  
  
  .gatilhos{
    margin-top: -100vh; /*Deslocando toda a seção de gatilhos 01 tela inteira*/
  }

  .gatilhos > div{
     
    height: 100vh;
    width: 50vw;
    left: 50vw;
    position: relative;
    z-index:100;
    padding: 10%;
    background-color: #2b2b2b;
  
    font-family: 'Alegreya', serif;
    font-size: 1.2rem;
    color: white;
    /*max-width: 620px;
    margin: 4rem auto;*/
    text-align: left;
  }
